table {
    border: 5px solid white;
    width: 1000px;
    border-collapse: collapse;
    font-family: sen;
    margin-bottom: 50px;
}

th, td {
    border:  4px solid white;
    padding: 20px;
    text-align: center;
}

.purple {
    background: purple;
    color: white;
    font-weight: bold;
}

.pink {
    background: pink;
    color: white;
    font-weight: bold;
}

.pink-2 {
    background: palevioletred;
    color: white;
    font-weight: bold;
}

table:first-of-type {
    background: pink;
    color: white
}